@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gerhona';
  src: url('/fonts/Gerhona.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaNowHeadline';
  src: url('/fonts/FuturaNowHeadline.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'FuturaNowHeadline', sans-serif;
  @apply text-textoPrimario bg-bege;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
